# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.

# Ignore everything by default.
*

#But Not

# Zsh
!zshrc
!zsh
!zsh/*

# The gitignore of this repository itself (!)
!.gitignore

# Vim plugins, ftplugins, syntax etc etc
!vim
!vim/*
!vim/*/*
!vim/*/*/*
!vim/*/*/*/*
!vim/*/*/*/*/*
!vim/*/*/*/*/*/*
# Do ignore netrw history
vim/.netrwhist
# Do ignore vim-plug stuff, sigh
vim/plugged
# Vim settings
!vimrc
# Ignore swapfiles
.vim/.*.swp
.vim/*/.*.swp
.vim/*/*/.*.swp
.vim/*/*/*/.*.swp

# Config for local daemons
!etc
!etc/*

# GPG settings (does NOT include keychain etc!)
!gnupg
!gnupg/*.conf

# Rust!
!cargo
!cargo/config.toml

# 1Password CLI hooks
!1Password
!1Password/*
!1Password/ssh/
!1Password/ssh/*

#sway
!sway
!sway/*

# Notifications
!swaync
!swaync/*

# fastfetch ... I worked too hard on this
!fastfetch
!fastfetch/*

#waybar ...now with colors
!waybar
!waybar/*
