@import "simpleColors.css";
 *
{
    font-family: AtkinsonHyperlegibleNext, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#waybar{
    background: transparent;
    color: @text-basic;
    margin: 5px 5px;
}

/* Window */
window#waybar {
    background-color: alpha(@bg-basic, 1);
    color: @text-basic;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Button */
button:hover {
    background: inherit;
}
button {
    box-shadow: inset 0 -2px transparent;
    border: none;
    border-radius: 3px;
}


#window,
#workspaces {
    margin: 0 3px;
}
#workspaces button {
    border-radius: 5px;
    padding: 0 0px;
    background-color: transparent;
    color: @text-basic;
}
#workspaces button:hover {
    background: alpha(@bg-accent-light,0.5);
}
#workspaces button.focused,
#workspaces button.active {
    background-color: alpha(@bg-accent-light, 0.7);
    color: @text-accent-light;
}
#workspaces button.urgent {
    background-color: alpha(@bg-red,1);
    color: @text-red;
}

/* Shared module padding and base color */
#clock,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#scratchpad,
#custom-updates,
#custom-notification,
#power-profiles-daemon{
    border-radius: 5px;
    margin: 3px 0;
    padding: 0 5px;
    color: @bg-basic;
}



.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Clock check min width depending on wednesday with*/
#clock:hover{
    background-color: alpha(@bg-accent-light, 1);
}
#clock {
    min-width: 120px;
    background-color: transparent;
    color: @text-basic;
    font-weight: 500;
}

/* Temperature */
#temperature:hover {
    background-color: alpha(@bg-red,1);
}
#temperature {
    background-color: alpha(@bg-red,0.5);
    color: @text-red;
}


/* Battery */
#battery:hover {
    background-color: alpha(@bg-green,1);
}
#battery {
    background-color: alpha(@bg-green,0.5);
    color: @text-green;
}
#battery.charging,
#battery.plugged {
    color: @text-green;
    background-color: alpha(@bg-green,0.2);
}
#battery.charging:hover,
#battery.plugged:hover {
    color: @text-green;
    background-color: alpha(@bg-green,1);
}
#battery.warning:not(.charging) {
    background-color: alpha(@bg-yellow,0.5);
    color: @text-yellow;
}
#battery.warning:not(.charging):hover {
    background-color: alpha(@bg-yellow,1);
    color: @text-yellow;
}
#battery.critical:not(.charging) {
    background-color: alpha(@bg-red,0.5);
    color: @text-red;
}
#battery.critical:not(.charging):hover {
    background-color: alpha(@bg-red,1);
    color: @text-red;
}

/* Power profiles */
#power-profiles-daemon {
    padding-right: 12px;
    background-color: transparent;
}
#power-profiles-daemon.performance {
    color: @text-red;
}
#power-profiles-daemon.balanced {
    color: @text-blue;
}
#power-profiles-daemon.power-saver {
    color: @text-green;
}


/* backlight */
#backlight:hover {
    background-color: alpha(@bg-accent-dark, 1);
}
#backlight {
    background-color: alpha(@bg-accent-dark, 0.5);
    color: @text-accent-dark;
}


/* Network */
#network:hover {
    background-color: alpha(@bg-blue, 1);
}
#network {
    background-color: alpha(@bg-blue, 0.5);
    color: @text-blue;
}
#network.disconnected {
    background-color: alpha(@bg-red, 0.5);
    color: @text-red;
}
#network.disconnected:hover {
    background-color: alpha(@bg-red, 1);
    color: @text-red;
}


/* Pulseaudio */
#pulseaudio:hover {
    background-color: alpha(@bg-yellow, 1);
}
#pulseaudio {
    background-color: alpha(@bg-yellow, 0.5);
    color: @text-yellow;
}
#pulseaudio.muted {
    background-color: alpha(@bg-yellow, 0.2);
}#pulseaudio.muted:hover {
    background-color: alpha(@bg-yellow, 1);
}


/* Tray */
#tray {
    background-color: alpha(@bg-accent-light, 0.5);;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: alpha(@bg-red, 0.5);;
}

/* Idle inhibitor */
#idle_inhibitor {
    background-color: alpha(@bg-accent-dark, 0.5);
    color: @text-accent-dark;
}
#idle_inhibitor.activated {
    background-color: alpha(@bg-accent-dark, 0.5);
    color:  @text-accent-dark;
}

/* Updates module */
#custom-updates:hover {
    background-color: alpha(@bg-accent-light, 0.3);
}
#custom-updates {
    background-color: transparent;
    color: @text-basic; 
    padding: 0 5px;
}


/* Notification */
#custom-notification:hover {
    background-color: alpha(@bg-accent-light, 0.3);
}
#custom-notification {
    padding: 0 8px;
    color: @text-basic;
    background-color: transparent;
}


/* Scratchpad */
#scratchpad:hover {
    background-color: alpha(@bg-accent-light, 0.3);
}
#scratchpad {
    background: transparent;
    color: @text-basic;
}
#scratchpad.empty {
    background-color: transparent;
}


#label:focus {
    background-color: #000000;
}
